.container {
    background-color: white;
    gap: 68px;
    min-height: 80%;
    min-width: 60%;
    align-items: center;
    border-radius: 23px;
    justify-content: center;
    position: relative;
    color: var(--darkColor);
    -webkit-box-shadow: -0.5px 3px 32px 3px #333;
    -moz-box-shadow: -0.5px 3px 32px 3px #333;
    box-shadow: -0.5px 3px 32px 3px #333;

    .score {
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;

        background-color: #2731c7;
        padding: 24px;
        position: absolute;
        top: 0px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        color: white;
    }

    .result {
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        background-color: #2731c7;
        padding: 24px;
        position: absolute;
        top: 0px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        color: white;

    }

    .fightingZone {
        flex-direction: row;
        justify-content: center;
        gap: 48px;

        div {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .signZone {
                min-width: 100px;
                min-height: 100px;
                max-width: 100px;
                max-height: 100px;
            }
        }



        .cock {
            animation: shake 2s ease 0s 1 normal forwards;

            @keyframes shake {

                0%,
                50%,
                100% {
                    opacity: 1;
                }

                25%,
                75% {
                    opacity: 0;
                }
            }
        }
    }

    .rules {
        justify-content: center;
        align-items: center;
    }

    .choosingZone {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        caret-color: transparent;

        .isChosen {
            background-color: lightgray;
            border: 8px solid lightgrey;

        }

        div {
            background-color: white;
            border: 8px solid white;
            border-radius: 22px;

            min-width: 100px;
            min-height: 100px;
            max-width: 100px;
            max-height: 100px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 24px;
        min-width: 90%;
        gap: 48px;

    }


}