body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    background: linear-gradient(90deg, #2F3640, #273C75, #487EB0);
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @keyframes gradient {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 100%;
        }
    }

    p {
        letter-spacing: 0.1em;
    }
}

::selection {
    color: var(--darkColor);
    background-color: var(--primaryColor);
}